{% extends 'task/base.html' %}
{% load static %}

{% block title %}
   Delete Task
{% endblock title %}


{% block main-content %}
<h2 class="text-xl mt-[20px]">Are you sure you want to delete <b>"{{ task.title }}"</b> ?</h2>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="w-full bg-red-600 p-4 rounded-xl text-white mt-[20px] hover:bg-red-800">Yes, Delete</button>
</form>
<a href="{% url 'taskdetails' task.id %}"><button type="submit" class="w-full bg-blue-600 p-4 rounded-xl text-white mt-[20px] hover:bg-blue-800">No, Cancel</button></a>
{% comment %} <a href="{% url 'BookListView' %}">Cancel</a> {% endcomment %}
{% endblock main-content %}
    