{% extends 'task/base.html' %}
{% load static %}

{% block title %}
   Password Reset Complete
{% endblock title %}

{% block main-content %}
    <div class="max-w-lg mx-auto my-8">
        <div class="p-6 bg-white shadow-lg rounded-lg text-center">
            <h3 class="text-2xl font-semibold text-green-600 mb-4">Reset Password Completed!</h3>
            <p class="text-lg text-gray-700 mb-4">
                An email has been sent with instructions to reset your password. 
                <b class="text-blue-500">Please check your email</b>.
            </p>
            <hr class="my-4">
            <div>
                <iframe src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjhrZTY5YmJqOWl1ZHIwM3ZpcWI2MXBsaDYyZ2Z4M2F2MjJkYWl4ciZlcD12MV9naWZzX3NlYXJjaCZjdD1n/4xpB3eE00FfBm/giphy.gif" width="300" height="300" frameborder="0" class="giphy-embed mx-auto" allowFullScreen></iframe>
            </div>
        </div>
    </div>
{% endblock main-content %}
