{% extends 'task/base.html' %}
{% load static %}

{% block title %}
   Password Reset Done
{% endblock title %}

{% block main-content %}
    <div class="max-w-lg mx-auto my-8">
        <div class="p-6 bg-white shadow-lg rounded-lg">
            <h3 class="text-3xl font-semibold text-green-600 mb-4">Well Done!</h3>
            <p class="text-lg text-gray-700">
                An email has been sent with instructions to reset your password. 
                <b class="text-blue-500">Please check your email</b>.
            </p>
        </div>
    </div>
{% endblock main-content %}
